body {
    background-color: #323232;
}

h1 {
	color : #F0F8FF;
    margin-left: 10px;
    text-align: center;
}


h2 {
    text-align: left;
}

h3 {
    text-align: right;
}

form {
	background-color : #E2E2E2;
    width: 300px;
    margin: 0 auto;
	border : 2px solid #000;
	padding : 55px;
}

p {
    border-style: solid;
}
